<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Marvel World</a>
    <div class="col-md-5">
        <input [(ngModel)]="searchString" (ngModelChange)="searchAvengers()" placeholder="Search for hero or skills" class="form-control form-control-lg"/>
    </div>
    <button [disabled]="searchString === ''" class="btn btn-info" (click)="clearSearchBar()"><fa-icon [icon]="faBroom"></fa-icon> Clear</button>
</nav>