<div id="app">
    <app-navbar></app-navbar>
    <div *ngIf="avengers && avengers !== null && avengers.length > 0" class="heroes container-fluid">
        <app-avenger-card *ngFor="let avenger of avengers; index as cardIndex" [avenger]="avenger" [cardIndex]="cardIndex"></app-avenger-card>
    </div>
    <div class="not-found" *ngIf="!(avengers && avengers !== null && avengers.length > 0)">
        <img src="assets/img/thanos.gif"/>
        <h3> No avengers found ! This is the Endgame !</h3>
    </div>
</div>
