<div class="hero col-md-3">
    <div class="card mb-3">
        <h5 class="card-header">{{avenger.name}} <fa-icon *ngIf="avenger.isBaddass" class="avenger-card-star" [icon]="faStar"></fa-icon></h5>
        <img src="/assets/img/{{avenger.picture}}" alt="Card image" class="avenger-card-image"/>
        <div class="card-body">
            Skills: <span *ngFor="let skill of avenger.skills" class="badge badge-primary avenger-skill-badge"> {{skill}} </span>
        </div>
        <div class="card-footer text-muted">
            <span class="avenger-card-footer">Fans: {{avenger.likes}} </span>
            <button type="button" class="btn btn-success btn-sm avenger-card-footer-btn" (click)="newFan()"><fa-icon [icon]="faThumbsUp"></fa-icon> + 1</button>
        </div>
    </div>
</div>