.avenger-card-image{
    height: 200px;
    width: 100%;
    display: block;
}

.avenger-skill-badge{
    margin-right: 5px;
}

.avenger-card-footer{
    color: black;
}

.avenger-card-footer-btn{
    float: right;
}

.avenger-card-star{
    float: right; 
    color: gold;
}