/* You can add global styles to this file, and also import other style files */
.heroes {

    margin-top: 20px;
}

.card-header {
    text-align: center;
}

.hero {
    float: left;
}

.search-floated {
    margin-top: -31px;
    float: right;
    margin-right: 12px;
}